/* body {
	max-width: 1100px;
	margin: 0 auto;
} */

header {
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
}

.menu-list {
	width: 100%;
	padding: 0px 20%;
}

/* #section-2 {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	margin-top: 40px;
}

#section-3 {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	margin-top: 305px
}

#section-4 {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	margin-top: 60px;
}

#section-5 {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	margin-top: 60px;
} */


.relative {
	position: relative;
	left: 43px;
	top: 175px;
	/* border: 3px solid #73AD21; */
}

.logo-custom {
	width: 126px;
	filter: opacity(40%) grayscale(100%);
}

.logo-custom-2 {
	height: fit-content;
    width: 28px;
	filter: opacity(40%) grayscale(100%);
}

.grey-font {
	filter: opacity(40%) grayscale(100%);
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.btn-light {
	color: orange;
	font: 2 Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	padding: 8px;
	background: transparent;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid orange;
	width: 120px;
}

.btn-full-orange {
	color: white;
	padding: 4px;
	background: darkorange;
	border-radius: 6px;
	cursor: pointer;
	width: 140px;
	height: 50px;
	border: 0px;
}

.btn-full-white {
	color: darkorange;
	padding: 4px;
	background: white;
	border-radius: 6px;
	cursor: pointer;
	width: 140px;
	height: 50px;
	border: 0px;
}

li {
	list-style-type: none;
}
input {
	border: none;
}

.subscribe {
	border: 1px solid;
	padding: 6px;
    border-radius: 6px;
}

/* .move-btn {

} */

footer {
	border: 2px solid purple;
	height: 100px;
	width: 100%;
}

h1 {
	font-size: 75px;
}

.table {
	width: 360px;
	background: white;
	border: solid rgba(128, 128, 128, 0.116);
}

.margin-top-70 {
	margin-top: 70px;
}

.margin-top-40 {
	margin-top: 40px;
}

.background-height {
	height: 800px;
}

.flex-container {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.space-around {
	justify-content: space-around;
}

.space-between {
	justify-content: space-between;
}

.align-baseline {
	align-items: baseline;
}

.align-center {
	align-items: center;
}

.text-align-center {
	text-align: center;
}

.margin-web {
	margin: 10px;
}

.color-white {
	color: white;
}

.picture-layout {
	max-width: 1152px;
	margin-top: 22px;
	margin-bottom: 22px;
}

/* Splits */

.split-20 {
	width: 20%;
}

.split-40 {
	width: 40%;
}

.split-50 {
	width: 50%;
}

.pense {
	margin-left: 6px;
}
.contact-us {
	margin-left: 11px;
}

.orange-bg {
	background-color: rgba(255, 102, 0, 0.918);
	margin-top: 40px;
}

.circle {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	padding: 8px;
	color: white;
	text-align: center;
	font: 12px Arial, sans-serif;
	background-color: orange;
}

.down-arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* div {
	border: 2px solid red;
} */